<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <output>
    <variables>
      <var id="0" enabled="true">
        <name>id</name>
      </var>
      <var id="1" enabled="true">
        <name>size</name>
      </var>
      <var id="2" enabled="true">
        <name>dmg</name>
      </var>
      <var id="3" enabled="true">
        <name>sDmg</name>
      </var>
      <var id="4" enabled="true">
        <name>extraDmg</name>
      </var>
      <var id="5" enabled="true">
        <name>angle</name>
      </var>
      <var id="6" enabled="true">
        <name>kbUnits</name>
      </var>
      <var id="7" enabled="true">
        <name>bkb</name>
      </var>
      <var id="8" enabled="true">
        <name>wdsk</name>
      </var>
      <var id="9" enabled="true">
        <name>kbg</name>
      </var>
      <var id="10" enabled="true">
        <name>hitlagMulti</name>
      </var>
      <var id="11" enabled="true">
        <name>sdiMulti</name>
      </var>
      <var id="12" enabled="true">
        <name>clang</name>
        <datatype>0</datatype>
      </var>
      <var id="13" enabled="true">
        <name>target</name>
        <print>1</print>
      </var>
      <var id="14" enabled="true">
        <name>effect</name>
      </var>
      <var id="15" enabled="true">
        <name>shieldStun</name>
      </var>
      <var id="16" enabled="true">
        <name>hitStun</name>
      </var>
      <var id="17" enabled="true">
        <name>launch</name>
      </var>
      <var id="18" enabled="true">
        <name>hitlag</name>
      </var>
      <var id="19" enabled="true">
        <name>HitlagAdv</name>
        <print>1</print>
      </var>
      <var id="20" enabled="true">
        <name>rehitRate</name>
        <print>1</print>
      </var>
      <var id="21" enabled="true">
        <name>shieldable</name>
        <datatype>0</datatype>
        <print>1</print>
      </var>
      <var id="22" enabled="true">
        <name>reflectable</name>
        <datatype>0</datatype>
        <print>1</print>
      </var>
      <var id="23" enabled="true">
        <name>absorbable</name>
        <datatype>0</datatype>
        <print>1</print>
      </var>
      <var id="24" enabled="true">
        <name>ignoreInv</name>
        <datatype>0</datatype>
        <print>1</print>
      </var>
      <var id="25" enabled="true">
        <name>flinchless</name>
        <datatype>0</datatype>
        <print>1</print>
      </var>
    </variables>
    <format>
      <OffensiveCollision>id|dmg/extraDmg/sDmg|angle|bkb/wdsk/kbg</OffensiveCollision>
      <SpecialOffensiveCollision>id|dmg/extraDmg/sDmg|angle|bkb/wdsk/kbg</SpecialOffensiveCollision>
      <ThrowSpecifier>id|dmg|angle|bkb/wdsk/kbg</ThrowSpecifier>
    </format>
    <copymode>0</copymode> <!-- Does nothing -->
  </output>
  <victim>
    <id>0</id>
    <weight>100</weight>
    <percent>0/100</percent> <!-- Should only be separated by '/' -->
    <charging>false</charging>
    <crouching>false</crouching>
  </victim>
</settings>